 html, body {
        width: 100%;height: 100%;margin:0;
    }


nav img{
		float: left;
		height: 40px; 
		margin-top: 10px;
		margin-left: 5px;
	}

	* {
		font-family: 'Helvetica';
		font-weight: 500;
	}

	nav h1 {
		margin: 0;
		text-align: center;
		padding-top: 5px;
		font-size: 45px;
	}

	h3 {
		margin: 0;
		margin-bottom: 25px;
		font-size: 35px;
	}

	.main{
		background: #bbb;
		padding-left: 15px;
		padding-top: 70px;
		padding-bottom: 200px;
	}

	.main input {
		border: none;
		border-radius: 35px;
		margin-bottom: 25px;
		height: 45px;
		width: 270px;
	}